
::-webkit-scrollbar {
    display: none;
}

#viewport {
    overflow: hidden;
}

.brush-container-btn,
.brush-container,
.brush-container-search {
    z-index: 2;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.2);
}

.brush-container-btn {
    font-size: 14px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px;
    right: 3px;
    height: 120px;
    padding: 3px;
}

.brush-container {
    position: absolute;
    width: calc(5px + (80px + 5px) * 4);
    height: calc(10px + (100px + 5px) * 2 + 20px);
    top: 10px;
    right: 30px;
    padding-top: 5px;
    transition: 0.3s;
}

.brush-container.hidden {
    right: -100vw;
}

.brush-container-context {
    width: calc(5px + (80px + 5px) * 4);
    height: calc((100px + 5px) * 2);
    overflow: scroll;
    overflow-x: hidden;
}

.brush-container-search {
    width: calc((80px + 5px) * 4 - 5px);
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.brush-container-search:focus {
    border-width: 0;
    border-color: black;
    border: 1px solid #ccc;
}

.brush-container-search-icon {
    width: 20px;
    transform: translate(10px, -20px);
    font-size: 14px;
}

.brush-item {
    float: left;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    margin-bottom: 5px;
    width: 80px;
    height: 100px;
    overflow: hidden;
}

.brush-item-title {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0);
    width: 80px;
    height: 20px;
    text-align: center;
    overflow: hidden;
}

.brush-item-icon {
    width: 80px;
    height: 80px;
}

.brush-item-icon canvas {
    width: 80px;
    height: 80px;
}